body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #f2ecec;
    border-radius: 30px;
    height: 890px;
    width: 350px;
}
.csw-btn-button {
   
    cursor: pointer;
    font-size: 14px;
    padding: 10px 5px;
    color: #ffffff !important;
    border-radius: 20px;
    background: #1d3f9b;
    border: 1px solid #fffefb;
    transition: 0.4s;
    text-decoration: none;
     /* bỏ gạch chân */
  }
  .csw-btn-button:hover {
    background: #292929;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1b2a49;
}


.btn5-hover {
 width: 100px;
 font-size: 16px;
 font-weight: 600;
 color: #fff;
 cursor: pointer;
 margin: 10px;
 height: 40px;
 text-align:center;
 border: none;
 background-size: 100% 100%;
 border-radius: 50px;
 /* moz-transition: all .4s ease-in-out; */
 -o-transition: all .4s ease-in-out;
 -webkit-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
}
.btn5-hover:hover {
 background-position: 100% 0;
 /* moz-transition: all .4s ease-in-out; */
 -o-transition: all .4s ease-in-out;
 -webkit-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
}
.btn5-hover:focus {
 outline: none;
}
.btn5-hover.btn5 {
   background-image: linear-gradient(
     to right,
     #e18625,
     #eb8a44,
     #fe7904,
     #dced3f
   );
   box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}



.btn5-hover2 {
    width: 160px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 160px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 100px;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
   }
   .btn6-hover2 {
    width: 160px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 160px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 100px;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
   }
   .btn5-hover2:hover {
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
   }
   .btn6-hover2:hover {
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
   }
   .btn5-hover2:focus {
    outline: none;
   }
   .btn6-hover2:focus {
    outline: none;
   }
   .btn5-hover2.btn6 {
      background-image: linear-gradient(
        to right,
        #25aae1,
        #4481eb,
        #04befe,
        #3f86ed
      );
      box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
   }
   .btn6-hover2.btn6 {
    background-image: linear-gradient(
      to right,
      #ef6161,
      #f25555,
      #fb2222,
      #f80505
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
 }
   button {
    border-radius: 100%;
    /* Bo tròn gốc */
    background-color: #00f2ff;
    /* Màu nền */
    color: #ffffff;
    /* Màu chữ */
    /* padding: 10px 20px; */
    /* Kích thước */
    border: none;
    /* Loại bỏ viền */
    height: 50px;color: rgb(255, 255, 255);
    background-color: rgb(255, 94, 0);
    width: 50px;

  }

  /* Kiểu dáng cho phần tử input */
  input[type="number"] {
    border-radius: 10px;
    /* Bo tròn gốc */
    border: 2px solid #00d9ff;
    /* Viền xanh */
    padding: 10px;
    /* Kích thước */
    outline: none;
    /* Loại bỏ đường viền khi được focus */
    box-shadow: 0 0 10px #ff8800;
    /* Đổ bóng */
    height: 40px;
    width: 90px;
  }

  input[type="number2"] {
    border-radius: 10px;
    /* Bo tròn gốc */
    border: 2px solid #00d9ff;
    /* Viền xanh */
    padding: 10px;
    /* Kích thước */
    outline: none;
    /* Loại bỏ đường viền khi được focus */
    box-shadow: 0 0 10px #00ff00;
    /* Đổ bóng */
    height: 40px;
    width: 90px;
    /* margin-left: 0px; */
  }
